{% extends "page.html" %}
{% block main %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet sem id nunc consectetur euismod et ac tortor. Nunc congue ut ipsum eu rutrum. Aliquam nec felis non urna accumsan suscipit. Aliquam eget ante fermentum, lacinia tellus eget, sollicitudin mi. Curabitur at rhoncus massa. Vestibulum mollis quam eget diam consectetur molestie. Curabitur tristique dui mattis tortor interdum elementum. Vivamus dapibus vitae mauris vel facilisis. Ut vehicula nisl a nulla vehicula efficitur. Maecenas sit amet leo et orci eleifend fringilla in at metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
{% endblock %}