{% extends "page.html" %}
{% block main %}
<h1>Interesting references</h1>
<p>Vestibulum porta velit odio, at consectetur dui auctor ac. Ut rhoncus aliquam mauris a dignissim. Curabitur euismod vitae eros ac rhoncus. Suspendisse potenti. Donec eu elit nisi. Suspendisse dictum nunc ligula. Ut vitae est venenatis odio suscipit varius. Quisque vitae turpis non arcu faucibus pharetra eget at metus. Ut consectetur fringilla purus vel porttitor. Phasellus porta nisl nec erat faucibus tincidunt. Fusce sit amet ex sit amet risus hendrerit porta. Maecenas ut justo suscipit, blandit ligula at, accumsan justo. Cras felis lacus, congue sed consequat ut, euismod dapibus massa.

Morbi consectetur nunc quam, sed ornare enim gravida in. Vivamus dictum tempor urna ac placerat. Aliquam cursus scelerisque nibh, a hendrerit quam posuere a. Suspendisse at turpis libero. Nullam pharetra, sem sed dapibus tristique, nisl justo luctus quam, vitae semper ligula metus sit amet leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor hendrerit rhoncus. Maecenas eu turpis dui. Donec sed vestibulum purus, eu efficitur justo. Aliquam et ipsum ligula. Donec posuere eleifend sodales.</p>
{% endblock %}
