body {
  --background-color: rgb(249, 249, 249);
  --contrast-text: rgb(15, 15, 15);
}

head.dark-mode + body {
  --background-color: #222222;
  --contrast-text: rgb(240, 240, 240);
}


body {
    background: var(--background-color);
    color: var(--contrast-text);
}
