<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/common.css">
    {% block header %}
    {% endblock %}
    <noscript>
        <style>
            .show_js {
                display: none;
            }

            .show_no_js {
                display: unset;
            }
        </style>
    </noscript>
    <script>
    if ((localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches && "dark")) == "dark")
        document.head.classList.toggle("dark-mode")
    </script>
</head>
<body>
{% block body %}
{% endblock %}
<footer>
    <div id="contact">
        <a href="#">E-mail</a>
        <a href="#">Twitter</a>
        <a href="#">Github</a>
    </div>

    <button class="show_js" onclick="localStorage.setItem('theme', document.head.classList.toggle('dark-mode') ? 'dark' : 'light')">
        switch theme
    </button>
</footer>
</body>
</html>
