{% extends "overview.html" %}
{% block update_function %}
<script>
    function update_params(params, value, buttons) {
        let on
        for (const t of buttons)
            if (t.textContent == value)
                on = t.classList.toggle("chosen")

        for (const d of document.getElementsByClassName(value))
            d.classList.toggle("show_no_js", !on)

        if (!on)
            params.remove('filter', value)
        else if (!params.getAll('filter').includes(value))
            params.append('filter', value)
    }
</script>
{% endblock %}
{% block list %}
<ol id="page_list">
{% for page, fields in page_fields|sort %}
    <li class="show_no_js {{ fields | join(" ") }}">
        <a href="{{ url_for(page[name_field]) }}">{{ page[name_field] }}</a>
        <ul class="field_list">
        {% for field in fields|sort %}
            <li>{{ field }}</li>
        {% endfor %}
        </ul>
        {% if description_field -%}
            <div class="description">{{ page[description_field] }}</div>
        {%- endif %}
    </li>
{% endfor %}
</ol>
{% endblock %}