{% extends "base.html" %}
{% block header %}
    <title>Labels</title>
    <link rel="stylesheet" href="/labels.css">
{% endblock %}

{% block body %}
<ol> 
{% for label in labels_page_ids.keys() %}
    <li>
        <a href="/labels/{{ label }}" class="{% if date == chosen_date %}chosen{% endif %}">
            {{ label }}        
        </a>
    </li>
{% endfor %}
</ol>
<ol>
{% for page_id in labels_page_ids[chosen_label] %}
    <li>
        <a href="/pages/{{ page_id }}">
            {{ pages[page_id]['data'] }}
        </a>
        <ul>
        {% for label in pages[page_id]['labels'] %}
            <li>
                {{ label }}
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ol>
{% endblock %}
