<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<div id="content_view">
<div id="date_area" style="background-color: lightgray; padding: 1em"><time id="date"></time></div>
<div id="related_area" style="background-color: lightcoral; padding: 1em"><nav><ul id="related"></ul></nav></div>
<div id="labels_area" style="background-color: lightgreen; padding: 1em"><ul id="labels"></ul></div>
<main id="page"></main>
</div>
<aside id="date_view" style="display: none"><p>Timeline</p><ul id="timeline"></ul></aside>
<aside id="related_view" style="display: none"><p>Network</p><ul id="network"></ul></aside>
<aside id="labels_view" style="display: none"><p>Labeling</p><ul id="labeling"></ul></aside>
<footer><p>Some footer</p><p onclick="chose_view('content')">To content</p></footer>

<script>
    const rel = id => document.getElementById(id)
    const cels = (...tags) => tags.map(tag => document.createElement(tag))

    const chose_view = view => ["content", "date", "related", "labels"]
        .forEach(n => rel(n + "_view").style.display = view == n ? "" : "none")

    const construct_button = (name, action, highlight = false) => {
        const [li] = cels("li")
        li.innerText = name
        li.onclick = action
        li.style.color = highlight ? "red" : ""
        return li
    }

    const construct_date_view = date => {
        const [buttons, links] = cels("ul", "ul")
        const dates = Object.values(pages)
            .map(p => p.date)
            .filter((d, i, ds) => ds.indexOf(d) == i)
            .sort()
        buttons.replaceChildren(...dates
            .map(d => construct_button(d, _ => construct_date_view(d), d == date)))
        links.replaceChildren(...Object.keys(pages)
            .filter(k => date === undefined || pages[k].date == date)
            .map(k => construct_button(k, _ => replace_main(k))))
        rel("date_view").replaceChildren(buttons, links)
        chose_view("date")
    }

    const construct_link = (name, related) => {
        const [enclosing, from_link, links_to] = cels("li", "p", "ul")
        from_link.innerText = name
        links_to.replaceChildren(...related
            .map(r => construct_button(r, e => replace_main(r))))
        enclosing.replaceChildren(from_link, links_to)
        return enclosing
    }

    const construct_related_view = () => {
        const [links] = cels("ul")
        links.replaceChildren(...Object.entries(pages)
            .map(([name, {related}]) => construct_link(name, related)))
        rel("related_view").replaceChildren(links)
        chose_view("related")
    }

    const construct_labels_view = label => {
        const [buttons, links] = cels("ul", "ul")
        const labels = Object.values(pages)
            .flatMap(p => p.labels)
            .filter((d, i, ds) => ds.indexOf(d) == i)
            .sort()
        buttons.replaceChildren(...labels
            .map(l => construct_button(l, _ => construct_labels_view(l), l == label)))
        links.replaceChildren(...Object.keys(pages)
            .filter(k => label === undefined || pages[k].labels.includes(label))
            .map(k => construct_button(k, _ => replace_main(k))))
        rel("labels_view").replaceChildren(buttons, links)
        chose_view("labels")
    }

    const populate_page = name => {
        rel("date").innerText = pages[name].date
        rel("date").onclick = e => e.stopPropagation() || construct_date_view(pages[name].date)
        rel("date_area").onclick = _ => construct_date_view()

        rel("related").replaceChildren(...pages[name].related
            .map(r => construct_button(r, e => e.stopPropagation() || replace_main(r))))
        rel("related_area").onclick = _ => construct_related_view()

        rel("labels").replaceChildren(...pages[name].labels
            .map(l => construct_button(l, e => e.stopPropagation() || construct_labels_view(l))))
        rel("labels_area").onclick = _ => construct_labels_view()
    }

    window.onpopstate = e => {
        rel("page").innerHTML = e.state.page
        document.title = e.state.name
        populate_page(e.state.name)
        chose_view("content")
    }

    const replace_main = name => fetch(`/pages/${name}.html`)
        .then(r => r.text())
        .then(t => {
            rel("page").innerHTML = t
            document.title = name
            populate_page(name)
            chose_view("content")
            history.pushState({page: t, name: name}, name, "?page=" + name)
        })

    fetch("/generated_objects.json").then(r => r.json()).then(j => pages = j)
    const params = new URLSearchParams(window.location.search)
    replace_main(params.get("page") || "Home")
</script>
</body>
