{% extends "base.html" %}
{% block header %}
    <title>{{ page.data }}</title>
    <link rel="stylesheet" href="css/page.css">
{% endblock %}

{% block body %}
<div id="content_view">
    <nav id="partition_area">
        {% for partition_field in partition_fields %}
        <a id="{{ partition_field }}" title="{{ partition_field }}" href="{{ url_for(partition_field, filter=page[partition_field]) }}">
            {{ page[partition_field] }}
        </a>
        {% endfor %}
    </nav>
    <nav id="link_area">
    {% for link_field in link_fields %}
        <ul id="{{ link_field }}" title="{{ link_field }}">
        {%- for rpage in page[link_field] +%}
            <li>
                <a href="{{ url_for(rpage.data) }}">
                    {{ rpage.data }}
                </a>
            </li>
        {%+ endfor -%}
        </ul>
    {% endfor %}
    </nav>
    <nav id="label_area">
    {% for label_field in label_fields %}
        <ul id="{{ label_field }}" title="{{ label_field }}">
        {%- for label in page[label_field] +%}
            <li>
                <a href="{{ url_for(label_field, filter=label) }}">
                    {{ label }}
                </a>
            </li>
        {%+ endfor -%}
        </ul>
    {% endfor %}
    </nav>
    <main>
        {% include [main, placeholder] +%}
    </main>
</div>
{% endblock %}
