{% extends "base.html" %}
{% block header %}
    <title>{{ data }}</title>
    <link rel="stylesheet" href="css/page.css">
{% endblock %}

{% block body %}
<div id="content_view">
    <div id="date_area">
        <a href="{{ url_for("date view", filter=page.date, from_id=page.id) }}">
            <time id="date">
                {{ page.date }}
            </time>
        </a>
    </div>
    <div id="related_area">
        <nav>
            <ul id="related">
                {% for rpage in page.related %}
                <li>
                    <a href="{{ url_for(rpage.data) }}">
                        {{ rpage.data }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div id="labels_area">
        <ul id="labels">
            {% for label in page.labels %}
            <li>
                <a href="{{ url_for("labels view", filter=label, from_id=page.id) }}">
                    {{ label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <main id="page">
        {% include main ignore missing +%}
    </main>
</div>
{% endblock %}
