{% extends "overview.html" %}
{% block update_function %}
<script>
    function update_params(params, value, buttons) {
        for (const t of buttons) {
            t.classList.toggle("chosen", t.textContent == value)
            for (const d of document.getElementsByClassName(t.textContent))
                d.classList.toggle("show_no_js", t.textContent != value)
        }

        params.set('filter', value)
    }
</script>
{% endblock %}
{% block list %}
<ol>
{% for field, page_ids in field_page_ids.items() %}
    <li class="{{ field }}">
        <noscript>
            {{ field }}
        </noscript>
        <ul>
        {% for page_id in page_ids %}
            <li>
                <a href="{{ url_for(pages[page_id].data) }}">
                    {{ pages[page_id].data }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ol>
{% endblock %}
