{% extends "overview.html" %}
{% block update_function %}
<script>
    function update_params(params, value, buttons) {
        for (const t of buttons) {
            t.classList.toggle("chosen", t.textContent == value)
            for (const d of document.getElementsByClassName(t.textContent))
                d.classList.toggle("show_no_js", t.textContent != value)
        }

        params.set('filter', value)
    }
</script>
{% endblock %}
{% block list %}
<ol id="field_list">
{% for field, pages in field_pages|sort %}
    <li class="{{ field }}">
        <h2 class="show_no_js">{{ field }}</h2>
        <ul class="page_list">
        {% for page in pages|sort %}
            <li>
                <a href="{{ url_for(page[name_field]) }}">{{ page[name_field] }}</a>
                {% if description_field -%}
                    <div class="description">{{ page[description_field] }}</div>
                {%- endif %}
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ol>
{% endblock %}
