{% extends "base.html" %}
{% block header %}
    <title>Timeline</title>
    <link rel="stylesheet" href="/timeline.css">
{% endblock %}

{% block body %}
<ol> 
{% for date in date_page_ids.keys() %}
    <li>
        <a href="/timeline/{{ date }}" class="{% if date == chosen_date %}chosen{% endif %}">
            {{ date }}        
        </a>
    </li>
{% endfor %}
</ol>
<ol>
{% for page_id in date_page_ids[chosen_date] %}
    <li>
        <a href="/pages/{{ page_id }}">
            {{ pages[page_id]['data'] }}
        </a>
    </li>
{% endfor %}
</ol>
{% endblock %}
